/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Source+Sans+Pro:wght@400;600;700&display=swap");

/* Variable CSS */
:root {
  /* Font & Typography */
  --body-font: "Poppins", sans-serif;
  --small-font-size: 0.813rem;

  /* Warna */
  --first-color: hsl(346, 16%, 22%);
  --mocha-color: hsl(34, 28%, 53%);
  --body-color: hsl(34, 28%, 53%);
  --white-color: #fff;
}

/* Base */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--body-font);
  background-color: var(--body-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

main {
  margin-inline: 6rem 1rem;
  padding-block: 2rem;
}

/* Sidebar */
.nav_bar {
  width: 72px;
  height: max-content;
  position: fixed;
  inset: 0;
  margin: auto 0;
}

.nav___list {
  position: relative;
  background-color: var(--first-color);
  padding-block: 70px;
  border-radius: 0 51px 51px 0;
  display: grid;
  justify-content: space-between;
  row-gap: 2rem;
}

.nav___link {
  position: relative;
  display: inline-flex;
  padding: 4px;
  border-radius: 50%;
  transition: background 0.4s;
}

.nav___link i {
  font-size: 1.25rem;
  color: var(--mocha-color);
  transition: color 0.4s;
}

.nav___name {
  position: absolute;
  top: 0;
  transform: translateX(56px);
  background-color: var(--white-color);
  color: var(--mocha-color);
  font-size: var(--small-font-size);
  font-weight: 500;
  padding: 6px 16px;
  border-radius: 3rem;
  pointer-events: none;
  transition: transform 0.5s, opacity 0.5s;
  opacity: 0;
}

.nav___link:hover .nav___name {
  opacity: 1;
  transform: translateX(48px);
}

/* Active Link */
.active-link {
  background-color: var(--white-color);
}

.active-link i {
  color: var(--first-color);
}

/* Main */
.body-login {
  background: linear-gradient(
    to right,
    #ffb100 0%,
    #ffb100 50%,
    #402e32 50%,
    #402e32 100%
  );
}

.body-registrasi {
  background: linear-gradient(
    to left,
    #ffb100 0%,
    #ffb100 50%,
    #402e32 50%,
    #402e32 100%
  );
}

.hero {
  background: url("../images/gambar-1.jpg");
  height: 460px;
  width: 1119px;
  background-size: contain;
  border-radius: 20px;
}

.btn {
  border: none;
  background-color: #ffb100;
}

.btn:hover {
  background-color: #a98c66;
}

.mapouter {
  position: relative;
  text-align: right;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 300px;
}
